body
{   background-color:#c5c587;
	display:flex;
	justify-content: center;
	text-align: right;
} 

.input
{
	margin:5px;
	border-radius:10px; 
}
.container
{
	border:10px solid red;
	border-radius:10
}
.input
{
  border-radius: 30px;
